<p id="notice"><%= notice %></p>

<h1>Distributor Licenses</h1>

<table>
  <thead>
    <tr>
      <th>Applicant name</th>
      <th>Applicant contact</th>
      <th>Applicant address</th>
      <th>Receipt number</th>
      <th>Ein</th>
      <th>Signature</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @distributor_licenses.each do |distributor_license| %>
      <tr>
        <td><%= distributor_license.applicant_name %></td>
        <td><%= distributor_license.applicant_contact %></td>
        <td><%= distributor_license.applicant_address %></td>
        <td><%= distributor_license.receipt_number %></td>
        <td><%= distributor_license.ein %></td>
        <td><%= distributor_license.signature %></td>
        <td><%= link_to 'Show', distributor_license %></td>
        <td><%= link_to 'Edit', edit_distributor_license_path(distributor_license) %></td>
        <td><%= link_to 'Destroy', distributor_license, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Distributor License', new_distributor_license_path %>
