<p id="notice"><%= notice %></p>

<p>
  <strong>Applicant name:</strong>
  <%= @distributor_license.applicant_name %>
</p>

<p>
  <strong>Applicant contact:</strong>
  <%= @distributor_license.applicant_contact %>
</p>

<p>
  <strong>Applicant address:</strong>
  <%= @distributor_license.applicant_address %>
</p>

<p>
  <strong>Receipt number:</strong>
  <%= @distributor_license.receipt_number %>
</p>

<p>
  <strong>Ein:</strong>
  <%= @distributor_license.ein %>
</p>

<p>
  <strong>Resolution By Board:</strong>
  <%= link_to "Resolution By Board", @distributor_license.resolution_by_board.url(:original, false) %>
</p>

<p>
  <strong>Blueprint:</strong>
  <%= link_to "Blueprint", @distributor_license.blueprint.url(:original, false) %>
</p>

<p>
  <strong>Proof Of Ownership:</strong>
  <%= link_to "Proof Of Ownership", @distributor_license.proof_of_ownership.url(:original, false) %>
</p>

<p>
  <strong>Pharmacist Affidavit:</strong>
  <%= link_to "Pharmacist Affidavit", @distributor_license.pharmacist_affidavit.url(:original, false) %>
</p>

<p>
  <strong>Degree Certificate:</strong>
  <%= link_to "Degree Certificate", @distributor_license.degree_certificate.url(:original, false) %>
</p>

<p>
  <strong>Invoice of Refrigerator:</strong>
  <%= link_to "Invoice of Refrigerator", @distributor_license.invoice_of_refrigerator.url(:original, false) %>
</p>

<p>
  <strong>Invoice of AC:</strong>
  <%= link_to "Invoice of AC", @distributor_license.invoice_of_ac.url(:original, false) %>
</p>

<p>
  <strong>Signature:</strong>
  <%= @distributor_license.signature %>
</p>

<%= link_to 'Edit', edit_distributor_license_path(@distributor_license) %> |
<%= link_to 'Back', distributor_licenses_path %>
