<div style="text-align: center;"> 
<% if current_user.user_type==1 %>
<%= link_to '<button type="button" style="background: #5068c2;
  border-radius: 100px;
  padding: 20px 60px;
  color: white;
  text-decoration: none;
  font-size: 1.45em;
  margin: 0 15px 20px; width: 30%;
  width:30%;" class="bclass">manufacturer_licenses</button>'.html_safe, manufacturer_licenses_path %>
</br>
<%end%>
<% if current_user.user_type==2 %>
<%= link_to '<button type="button" style="background: #5068c2;
  border-radius: 100px;
  padding: 20px 60px;
  color: white;
  text-decoration: none;
  font-size: 1.45em;
  margin: 0 15px 20px;  width: 30%;">distributor_licenses</button>'.html_safe, distributor_licenses_path %>
</br>
<%end%>
<% if current_user.user_type==3 %>
<%= link_to '<button type="button" style="background: #5068c2;
  border-radius: 100px;
  padding: 20px 60px;
  color: white;
  text-decoration: none;
  font-size: 1.45em;
  margin: 0 15px 20px;  width: 30%;">pharmacy_licenses</button>'.html_safe, pharmacy_licenses_path %>
</br>
<%end%>
<% if current_user.user_type==4 %>
<%= link_to '<button type="button" style="background: #5068c2;
  border-radius: 100px;
  padding: 20px 60px;
  color: white;
  text-decoration: none;
  font-size: 1.45em;
  margin: 0 15px 20px;  width: 30%;">customer_licenses</button>'.html_safe, customer_licenses_path %>
</br>
<%end%>
<% if current_user.user_type!=4 && current_user.user_type!=0%>
<%= link_to '<button type="button" style="background: #5068c2;
  border-radius: 100px;
  padding: 20px 60px;
  color: white;
  text-decoration: none;
  font-size: 1.45em;
  margin: 0 15px 20px;  width: 30%;">initiatetransaction</button>'.html_safe, initiatetransaction_new_path %>
</br>
<%end%>
<% if current_user.user_type!=1 && current_user.user_type!=0%>
<%= link_to '<button type="button" style="background: #5068c2;
  border-radius: 100px;
  padding: 20px 60px;
  color: white;
  text-decoration: none;
  font-size: 1.45em;
  margin: 0 15px 20px;  width: 30%;">finalisetransaction</button>'.html_safe, finalisetransaction__new_path %>
</br>
<%end%>
<% if current_user.user_type==1 && current_user.user_type!=0%>
<%= link_to '<button type="button" style="background: #5068c2;
  border-radius: 100px;
  padding: 20px 60px;
  color: white;
  text-decoration: none;
  font-size: 1.45em;
  margin: 0 15px 20px;  width: 30%;">drugadd</button>'.html_safe, drugadd_new_path %>
</br>
<%end%>
<% if current_user.user_type==0%>
<%= link_to '<button type="button" style="background: #5068c2;
  border-radius: 100px;
  padding: 20px 60px;
  color: white;
  text-decoration: none;
  font-size: 1.45em;
  margin: 0 15px 20px;  width: 30%;">traderadd</button>'.html_safe, traderadd_new_path %>
<%end%>
</div>