<h1>Sessions#new</h1>
<p>Find me in app/views/sessions/new.html.erb</p>
<% if current_user.user_type==1 %>
<%= link_to '<button type="button">manufacturer_licenses</button>'.html_safe, manufacturer_licenses_path %>
<%end%>
<% if current_user.user_type==2 %>
<%= link_to '<button type="button">distributor_licenses</button>'.html_safe, distributor_licenses_path %>
<%end%>
<% if current_user.user_type==3 %>
<%= link_to '<button type="button">pharmacy_licenses</button>'.html_safe, pharmacy_licenses_path %>
<%end%>
<% if current_user.user_type==4 %>
<%= link_to '<button type="button">customer_licenses</button>'.html_safe, customer_licenses_path %>
<%end%>
<% if current_user.user_type!=4 && current_user.user_type!=0%>
<%= link_to '<button type="button">initiatetransaction</button>'.html_safe, initiatetransaction_new_path %>
<%end%>
<% if current_user.user_type!=1 && current_user.user_type!=0%>
<%= link_to '<button type="button">finalisetransaction</button>'.html_safe, finalisetransaction__new_path %>
<%end%>
<% if current_user.user_type==1 && current_user.user_type!=0%>
<%= link_to '<button type="button">drugadd</button>'.html_safe, drugadd_new_path %>
<%end%>
<% if current_user.user_type==0%>
<%= link_to '<button type="button">traderadd</button>'.html_safe, traderadd_new_path %>
<%end%>