<%= form_with(model: customer_license, local: true, class: "form-style") do |form| %>
  <% if customer_license.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer_license.errors.count, "error") %> prohibited this customer_license from being saved:</h2>

      <ul>
      <% customer_license.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :applicant_name %>
    <%= form.text_field :applicant_name %>
  </div>

  <div class="field">
    <%= form.label :applicant_contact %>
    <%= form.text_field :applicant_contact %>
  </div>

  <div class="field">
    <%= form.label :applicant_address %>
    <%= form.text_area :applicant_address %>
  </div>

  <div class="field">
    <%= form.label :id_type %>
    <%= form.number_field :id_type %>
  </div>

  <div class="field">
    <%= form.label :id_no %>
    <%= form.text_field :id_no %>
  </div>

  <div class="field">
    <%= form.label :signature %>
    <%= form.text_area :signature %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
