<p id="notice"><%= notice %></p>

<p>
  <strong>Applicant name:</strong>
  <%= @customer_license.applicant_name %>
</p>

<p>
  <strong>Applicant contact:</strong>
  <%= @customer_license.applicant_contact %>
</p>

<p>
  <strong>Applicant address:</strong>
  <%= @customer_license.applicant_address %>
</p>

<p>
  <strong>Id type:</strong>
  <%= @customer_license.id_type %>
</p>

<p>
  <strong>Id no:</strong>
  <%= @customer_license.id_no %>
</p>

<p>
  <strong>Signature:</strong>
  <%= @customer_license.signature %>
</p>

<% if current_user.user_type == 0 %>
<%= link_to 'Accept', accept_customer_path(@customer_license) %>
<%= link_to 'Reject', reject_customer_path(@customer_license) %>
<%end%>

<%= link_to 'Edit', edit_customer_license_path(@customer_license) %> |
<%= link_to 'Back', customer_licenses_path %>
