<p id="notice"><%= notice %></p>

<p>
  <strong>Applicant name:</strong>
  <%= @manufacturer_license.applicant_name %>
</p>

<p>
  <strong>Applicant contact:</strong>
  <%= @manufacturer_license.applicant_contact %>
</p>

<p>
  <strong>Applicant address:</strong>
  <%= @manufacturer_license.applicant_address %>
</p>

<p>
  <strong>Receipt number:</strong>
  <%= @manufacturer_license.receipt_number %>
</p>

<p>
  <strong>Ein:</strong>
  <%= @manufacturer_license.ein %>
</p>

<p>
  <strong>Signature:</strong>
  <%= @manufacturer_license.signature %>
</p>

<%= link_to 'Edit', edit_manufacturer_license_path(@manufacturer_license) %> |
<%= link_to 'Back', manufacturer_licenses_path %>
