<h1>Initiatetransaction#new</h1>
<p>Find me in app/views/initiatetransaction/new.html.erb</p>
<%= form_tag("/initiatetransaction", method: "get") do %>
    <%= label_tag(:commodity, "Batch Number") %>
    <%= text_field_tag(:commodity) %><br>
    <%= label_tag(:newOwner, "New Owner") %>
    <%= text_field_tag(:newOwner) %><br>
    <%= submit_tag("Initiate Transaction") %>
  <% end %>